@charset "UTF-8";
@font-face {
  font-family: "Cigars Medium";
  src: url("/assets/fonts/hwcigars_medium-webfont.woff2") format("woff");
}
@font-face {
  font-family: "Karla Variable";
  src: url("/assets/fonts/Karla-VariableFont_wght.woff2") format("woff");
}
h1,
.h1-style {
  font-family: "Cigars Medium", sans-serif;
  font-size: 4.5rem;
  line-height: 1.2;
  letter-spacing: 0.005em;
}

h2,
.h2-style {
  font-family: "Cigars Medium", sans-serif;
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: 0.005em;
  text-wrap: pretty;
}
@media (max-width: 992px) {
  h2,
  .h2-style {
    font-size: 3.5rem;
  }
}
@media (max-width: 600px) {
  h2,
  .h2-style {
    font-size: 3rem;
  }
}

.home-membership-item-text .price, .home-approach-column p, .home-hero-tagline, h3,
.h3-style {
  font-family: "Cigars Medium", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0.005em;
  text-wrap: pretty;
}
@media (max-width: 992px) {
  .home-membership-item-text .price, .home-approach-column p, .home-hero-tagline, h3,
  .h3-style {
    font-size: 2.25rem;
  }
}

.home-membership-item-text .desc, .home-classes-item-text p, .btn-pill-white, h4,
.h4-style {
  font-family: "Cigars Medium", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  text-wrap: pretty;
}

.home-try-head p, .home-difference-text *, .p-large {
  font-family: "Karla Variable", sans-serif;
  font-size: 1.375rem;
  line-height: 1.6;
  text-wrap: pretty;
}

p,
.p-style {
  font-family: "Karla Variable", sans-serif;
  font-size: 1.1875rem;
  line-height: 1.6;
  text-wrap: pretty;
}

.home-difference-item, .p-small {
  font-family: "Karla Variable", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  text-wrap: pretty;
}

.home-classes-toggle, .tag, .tag-small {
  font-family: "Karla Variable", sans-serif;
  font-weight: 700;
  font-size: 1.0625rem;
  text-transform: uppercase;
}

.tag-small {
  font-size: 0.9375rem;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Karla Variable", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  color: #3D2F17;
  background-color: #eee6d9;
  margin: 0;
  padding: 0;
}
body.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

*:last-child {
  margin-bottom: 0;
}

p + h2,
p + .h2-style {
  margin-top: 3rem;
}

small {
  font-size: 0.75rem;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid #8a3a42;
  outline-offset: 2px;
}

a {
  color: #8a3a42;
  text-decoration: none;
}
a[target=_blank]::after {
  content: "➚";
  font-size: 1em;
}
a:hover {
  text-decoration: underline;
}

ul,
ol {
  padding-left: 1rem;
}

img {
  display: block;
  max-width: 100%;
}

strong,
.bold {
  font-family: "Karla Variable", sans-serif;
  font-weight: 500;
}

.desktop {
  display: block;
}
@media (max-width: 600px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}
@media (max-width: 600px) {
  .mobile {
    display: block;
  }
}

.large-font {
  font-size: 1.125rem;
}

.emphasis:nth-child(n) {
  font-family: "Cigars Medium", sans-serif;
  font-size: 1.5rem;
  line-height: 1.8;
  color: #8a3a42;
  margin: 2rem 0;
}
@media (max-width: 992px) {
  .emphasis:nth-child(n) {
    font-size: 1.375rem;
  }
}
@media (max-width: 600px) {
  .emphasis:nth-child(n) {
    font-size: 1.25rem;
  }
}

.object-fit {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.rich-text {
  max-width: 40rem;
}
.rich-text h2 + p, .rich-text h2 + ul {
  margin-top: 1rem;
}
.rich-text h3 {
  margin-top: 1rem;
}
.rich-text h3 + p, .rich-text h3 + ul {
  margin-top: 0.5rem;
}
.rich-text p,
.rich-text ul,
.rich-text li {
  margin-top: 1rem;
}
.rich-text figure {
  margin-block: 2rem;
}
.rich-text img {
  display: block;
  width: 100%;
}
.rich-text .image-left {
  float: left;
  width: calc(50% - 2rem);
  margin: 0 2rem 0 0;
}
.rich-text .image-right {
  float: right;
  width: calc(50% - 2rem);
  margin: 0 0 0 2rem;
}
.rich-text .image-center {
  width: 100%;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.layout-container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
@media (max-width: 992px) {
  .layout-container {
    gap: 2rem;
  }
}
@media (max-width: 600px) {
  .layout-container {
    flex-direction: column;
  }
}
.layout-side {
  flex: 1;
}
.layout-main {
  flex: 2;
}

.stack-xl > * + * {
  -webkit-margin-before: 5rem;
          margin-block-start: 5rem;
}

.stack-lg > * + * {
  -webkit-margin-before: 4rem;
          margin-block-start: 4rem;
}

.stack-md > * + * {
  -webkit-margin-before: 3rem;
          margin-block-start: 3rem;
}

.stack-reg > * + * {
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
}

.stack-sm > * + * {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
}

.stack-xs > * + * {
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem;
}

.animate-image {
  overflow: hidden;
}
.animate-image.in-view img {
  transform: scale(1.075);
}
.animate-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  transition: transform 1.2s ease;
}

.btn-pill-white, .btn-cta-orange, .btn-underline-orange, .btn-underline-white {
  text-decoration: none;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-pill-white:hover, .btn-cta-orange:hover, .btn-underline-orange:hover, .btn-underline-white:hover {
  cursor: pointer;
}
.btn-pill-white:hover, .btn-cta-orange:hover, .btn-underline-orange:hover, .btn-underline-white:hover {
  text-decoration: none;
}

.btn-underline-orange, .btn-underline-white {
  font-family: "Karla Variable", sans-serif;
  font-weight: 700;
  font-size: 1.0625rem;
  position: relative;
  background-color: transparent;
}
.btn-underline-orange::after, .btn-underline-white::after {
  position: absolute;
  bottom: 0.125rem;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  transition: transform 0.3s ease;
}
.btn-underline-orange:hover, .btn-underline-white:hover {
  background-color: transparent;
}
.btn-underline-orange:hover::after, .btn-underline-white:hover::after {
  transform: scaleY(2);
}

.btn-underline-white {
  color: #fff;
}
.btn-underline-white::after {
  background-color: #fff;
}

.btn-underline-orange {
  color: #6D5725;
}
.btn-underline-orange::after {
  background-color: #B2482B;
}

.btn-cta-orange {
  font-family: "Karla Variable", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.25rem 2rem;
  border: 2px solid;
}

.btn-cta-orange {
  color: #6D5725;
  background-color: transparent;
  border-color: #B2482B;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.btn-cta-orange:hover {
  color: #fff;
  background-color: #B2482B;
}

.btn-pill-white {
  padding: 0.25rem 2rem;
  background-color: transparent;
  border: 2px solid;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}

.btn-pill-white {
  color: #fff;
  border-color: #fff;
}
.btn-pill-white:hover {
  background-color: #3D2F17;
}

/*
%btn {
	@include button-reset;
	display: inline-block;
	@include font-bold;
	@include toRem('font-size', 16);
	color: $white;
	background-color: $accent;
	border: 2px solid $accent;
	border-radius: $radius;
	appearance: none;
	transition: color .6s ease, background-color .6s ease, border-color .6s ease;

	&:hover {
		text-decoration: none;
		color: $accent;
		background-color: transparent;
	}
}

.btn {
	@extend %btn;
	height: 44px;
	line-height: 40px;
	padding: 0 $gap;
}

.btn-secondary {
	@extend %btn;
	height: 44px;
	line-height: 40px;
	color: $accent;
	padding: 0 $gap;
	background-color: $white;

	&:hover {
		color: $white;
		background-color: $accent;
	}
}

.btn-secondary-black {
	@extend %btn;
	height: 44px;
	line-height: 40px;
	color: $black;
	padding: 0 $gap;
	background-color: $white;
	border-color: $black;

	&:hover {
		color: $white;
		background-color: $black;
	}
}

.btn-sm {
	@extend %btn;
	height: 34px;
	line-height: 30px;
	padding: 0 $gap-sm;
}

.btn-wide-mobile {
	@include break(mobile) {
		display: block;
		width: 100%;
		text-align: center;
	}
}
*/
.container {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
}
@media (max-width: 1024px) {
  .container {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .container {
    width: calc(100% - 2rem);
  }
}

.container-narrow {
  width: calc(100% - 5rem);
  max-width: 40rem;
  margin-inline: auto;
}
@media (max-width: 1024px) {
  .container-narrow {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .container-narrow {
    width: calc(100% - 2rem);
  }
}

.container-wide {
  width: calc(100% - 5rem);
  max-width: 90rem;
  margin-inline: auto;
}
@media (max-width: 1024px) {
  .container-wide {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .container-wide {
    width: calc(100% - 2rem);
  }
}

.container-bg {
  color: #fff;
  padding: 2rem;
  background-color: #8a3a42;
  border-radius: 0.5rem;
}
@media (max-width: 992px) {
  .container-bg {
    padding: 1rem;
  }
}

/*
.panel-group {

}

.panel-trigger {

}
*/
.panel-target {
  overflow: hidden;
  transition: height 0.3s ease;
}

label {
  display: block;
  font-family: "Karla Variable", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
}

input[type=text],
input[type=email] {
  height: 44px;
  line-height: 40px;
  color: #222;
  padding: 0.25rem 0.5rem;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 0.25rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea {
  color: #222;
  padding: 0.25rem 0.5rem;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 0.25rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 6rem;
  z-index: 999;
}
.header-home {
  position: absolute;
  top: 0;
  left: 0;
}
.header-home .header-container {
  justify-content: flex-end;
}
.header-container {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1024px) {
  .header-container {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .header-container {
    width: calc(100% - 2rem);
  }
}
.header-nav {
  flex: 1;
}
@media (max-width: 992px) {
  .header-nav {
    display: none;
  }
}
.header-logo {
  flex: 1;
  position: relative;
  display: block;
  height: 5rem;
  text-align: center;
  transition: opacity 0.3s ease;
}
@media (max-width: 600px) {
  .header-logo {
    flex: auto;
    height: 2.5rem;
  }
}
.header-logo:hover {
  opacity: 0.7;
}
.header-logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header-trial {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 600px) {
  .header-trial {
    flex: auto;
  }
}
.header-trial a {
  position: relative;
  display: inline-block;
  font-family: "Karla Variable", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.5;
  color: #fff;
  text-decoration-color: transparent;
  padding-left: 2rem;
  overflow: hidden;
}
.header-trial a::before {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url(/assets/icons/flower-red.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}
.header-trial a::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: calc(100% - 2rem);
  height: 0;
  background-color: #fff;
  transition: height 0.3s ease;
}
.header-trial a:hover::after {
  height: 0.125rem;
}
.header-trial a:focus-visible {
  outline: 1px solid #8a3a42;
  outline-offset: 2px;
}
.header-trial a.active {
  font-family: "Karla Variable", sans-serif;
  font-weight: 500;
  color: #8a3a42;
  cursor: default;
}
.header-trial a.active::after {
  display: none;
}
.header-mobile {
  display: none;
}
@media (max-width: 992px) {
  .header-mobile {
    display: block;
    z-index: 999;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.nav-items {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}
.nav-item {
  position: relative;
  list-style: none;
}
.nav-item a:hover {
  text-decoration: none;
}
.nav-link {
  position: relative;
  display: block;
  font-family: "Karla Variable", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  text-decoration-color: transparent;
  overflow: hidden;
}
.nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 0;
  background-color: #fff;
  transition: height 0.3s ease;
}
.nav-link:hover::after, .nav-link.nav-active::after, .nav-link[aria-expanded=true]::after {
  height: 0.125rem;
}
.nav-link:focus-visible {
  outline: 1px solid #8a3a42;
  outline-offset: 2px;
}
.nav-link.active {
  font-family: "Karla Variable", sans-serif;
  font-weight: 500;
  color: #8a3a42;
  cursor: default;
}
.nav-link.active::after {
  display: none;
}
.nav-button {
  text-decoration: none;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.nav-button:hover {
  cursor: pointer;
}
.nav-panel {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 14rem;
  margin: 0;
  padding: 3px;
  background-color: transparent;
}
.nav-panel .nav-link {
  display: inline-block;
  font-family: "Karla Variable", sans-serif;
  font-size: 1rem;
  text-transform: none;
  margin-left: 0.25rem;
}

.header-home .nav-panel {
  padding: 0;
  background-color: transparent;
}
.header-home .nav-link {
  margin-left: 0;
}
.header-home .nav-link[aria-expanded=true] + .nav-panel {
  box-shadow: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  padding: 6rem 2rem;
  background-color: #fff;
  transition: left 0.3s ease;
  z-index: 998;
}
@media (max-width: 992px) {
  .nav-mobile {
    display: block;
  }
}
.nav-mobile.opened {
  left: 0;
}
.nav-mobile-image {
  display: block;
  width: 50%;
}
@media (max-width: 600px) {
  .nav-mobile-image {
    width: 75%;
  }
}
.nav-mobile-image img {
  display: block;
  width: 100%;
}

.mobile-nav .nav-items {
  display: block;
  margin: 0;
  padding: 0;
}
.mobile-nav .nav-item ul {
  margin: 1rem 0 0 1rem;
}
.mobile-nav .nav-link {
  display: inline-block;
}

.header-home .header-mobile {
  background-color: transparent;
}
.header-home .header-mobile:hover {
  background-color: #222;
}

.footer {
  position: relative;
  margin-top: 5rem;
  padding: 2rem 0;
  border-top: 2px solid #8a3a42;
  z-index: 2;
}
@media (max-width: 992px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.footer a {
  color: #8a3a42;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-top {
  width: calc(100% - 5rem);
  max-width: 65rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 1024px) {
  .footer-top {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .footer-top {
    width: calc(100% - 2rem);
  }
}
@media (max-width: 992px) {
  .footer-top {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 600px) {
  .footer-top {
    flex-direction: column;
    gap: 2rem;
  }
}
.footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .footer-column {
    flex-direction: row;
    gap: 2rem;
  }
}
@media (max-width: 600px) {
  .footer-column {
    flex-direction: column;
  }
}
.footer-logo {
  display: block;
  width: 16.75rem;
}
@media (max-width: 600px) {
  .footer-logo {
    width: 14.75rem;
  }
}
.footer-logo img {
  display: block;
  width: 100%;
}
.footer-nav {
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
}
@media (max-width: 992px) {
  .footer-nav {
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .footer-nav {
    flex-direction: column;
    gap: 1rem;
  }
}
.footer-nav-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}
@media (max-width: 992px) {
  .footer-nav-column {
    gap: 0.5rem;
  }
}
.footer-nav-item {
  display: inline-block;
  list-style: none;
}
@media (max-width: 992px) {
  .footer-nav-item {
    flex: 0 0 calc(33% - 1rem);
  }
}
@media (max-width: 992px) {
  .footer-nav-item {
    flex: 0 0 calc(50% - 1rem);
  }
}
.footer-nav-link.active {
  text-decoration: underline;
}
.footer-nav-link.active:hover {
  cursor: default;
}
.footer-social ul {
  display: flex;
  gap: 2rem;
  padding: 0;
}
.footer-social li {
  display: inline-block;
  width: 2rem;
  list-style: none;
}
.footer-social li a {
  display: block;
  width: 2rem;
  height: 2rem;
  padding: 0.35rem;
  background-color: #8a3a42;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}
.footer-social li a::after {
  display: none;
}
.footer-social li a:hover {
  background-color: #222;
}
.footer-social li a:hover svg .fill {
  fill: #222;
}
.footer-social li svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  fill: #fff;
  transition: fill 0.3s ease;
}
.footer-social li svg .fill {
  fill: #8a3a42;
  transition: fill 0.3s ease;
}
.footer-subscribe {
  width: calc(100% - 5rem);
  max-width: 65rem;
  margin-inline: auto;
  margin-block: 3rem;
}
@media (max-width: 1024px) {
  .footer-subscribe {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .footer-subscribe {
    width: calc(100% - 2rem);
  }
}
@media (max-width: 600px) {
  .footer-subscribe {
    margin-block: 0;
  }
}
.footer-bottom {
  width: calc(100% - 5rem);
  max-width: 65rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}
@media (max-width: 1024px) {
  .footer-bottom {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .footer-bottom {
    width: calc(100% - 2rem);
  }
}
@media (max-width: 992px) {
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.flex-block {
  width: calc(100% - 5rem);
  max-width: 65rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
@media (max-width: 1024px) {
  .flex-block {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .flex-block {
    width: calc(100% - 2rem);
  }
}
@media (max-width: 992px) {
  .flex-block {
    gap: 2rem;
  }
}
@media (max-width: 600px) {
  .flex-block {
    flex-direction: column;
  }
}
.flex-block *:first-child {
  flex: 1;
}
.flex-block *:last-child {
  flex: 2;
}
.flex-block-bg {
  color: #fff;
  padding: 2rem;
  background-color: #8a3a42;
  border-radius: 0.5rem;
}
@media (max-width: 992px) {
  .flex-block-bg {
    padding: 1rem;
  }
}
.flex-block-img {
  border-radius: 0.5rem;
  overflow: hidden;
}
.flex-block-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.home {
  color: #6D5725;
  background-color: #eee6d9;
}
.home-hero {
  display: flex;
  align-items: center;
  height: 75vh;
  overflow: hidden;
}
.home-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(75vh + 6rem);
  background-color: #3D2F17;
}
.home-hero-bg img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0.35;
}
.home-hero-container {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  z-index: 1;
}
@media (max-width: 1024px) {
  .home-hero-container {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-hero-container {
    width: calc(100% - 2rem);
  }
}
.home-hero-logo {
  width: 40vw;
}
@media (max-width: 992px) {
  .home-hero-logo {
    width: 70vw;
  }
}
@media (max-width: 600px) {
  .home-hero-logo {
    width: 100%;
  }
}
.home-hero-logo svg {
  display: block;
  width: 100%;
}
.home-hero-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 46.875rem;
  margin-inline: auto;
}
@media (max-width: 600px) {
  .home-hero-copy {
    flex-direction: column;
  }
}
.home-hero-tagline {
  line-height: 1.2;
  text-align: center;
  color: #fff;
  padding: 1rem 2rem;
}
.home-hero-cta {
  text-align: right;
  padding: 0 2rem;
}
@media (max-width: 600px) {
  .home-hero-cta {
    padding-bottom: 2rem;
  }
}
.home-approach {
  padding-block: 4rem;
  background-color: #e2d7c4;
}
.home-approach-container {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5rem;
}
@media (max-width: 1024px) {
  .home-approach-container {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-approach-container {
    width: calc(100% - 2rem);
  }
}
@media (max-width: 600px) {
  .home-approach-container {
    flex-direction: column;
  }
}
.home-approach-column {
  flex: 1;
}
.home-approach-column img {
  display: block;
  width: 100%;
}
.home-approach-image img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
}
.home-approach-icon img {
  display: block;
  width: 50%;
  max-width: 18.75rem;
}
@media (max-width: 600px) {
  .home-approach-icon img {
    max-width: 6.25rem;
  }
}
.home-difference {
  padding-block: 5rem;
  background-color: #eee6d9;
}
.home-difference-head {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  text-align: center;
}
@media (max-width: 1024px) {
  .home-difference-head {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-difference-head {
    width: calc(100% - 2rem);
  }
}
.home-difference-head h2 {
  max-width: 31.25rem;
  margin-inline: auto;
}
.home-difference-head p {
  max-width: 43.75rem;
  margin-inline: auto;
}
.home-difference-list {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #6D5725;
}
@media (max-width: 1024px) {
  .home-difference-list {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-difference-list {
    width: calc(100% - 2rem);
  }
}
@media (max-width: 992px) {
  .home-difference-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .home-difference-list {
    display: block;
  }
}
.home-difference-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  border: 1px solid #6D5725;
  aspect-ratio: 1/1;
}
@media (max-width: 992px) {
  .home-difference-item {
    aspect-ratio: 3/2;
  }
}
@media (max-width: 992px) {
  .home-difference-item {
    aspect-ratio: 3/2;
  }
}
.home-difference-icon {
  width: 2rem;
}
.home-difference-icon img {
  display: block;
  width: 100%;
  height: auto;
}
.home-difference-text {
  display: block;
  max-width: 75%;
}
.home-difference-text * {
  font-family: "Cigars Medium", sans-serif;
  line-height: 1.4;
}
.home-try {
  position: relative;
  margin-bottom: 5rem;
  background-color: #eee6d9;
}
.home-try::after {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  height: 100%;
  background-color: #f5f2e8;
  border-radius: 1rem;
  transform: translateX(-50%);
}
@media (max-width: 1024px) {
  .home-try::after {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-try::after {
    width: calc(100% - 2rem);
  }
}
.home-try-head {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  position: relative;
  text-align: center;
  color: #B2482B;
  padding: 3rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
}
@media (max-width: 1024px) {
  .home-try-head {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-try-head {
    width: calc(100% - 2rem);
  }
}
.home-try-head h2, .home-try-head p {
  max-width: 37.5rem;
  margin-inline: auto;
}
.home-try-head p {
  font-family: "Karla Variable", sans-serif;
  font-weight: 700;
}
.home-try-images {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  z-index: 1;
}
@media (max-width: 600px) {
  .home-try-images {
    gap: 1rem;
  }
}
.home-try-images::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}
.home-try-image {
  position: relative;
  aspect-ratio: 1/1;
  z-index: 1;
}
.home-try-image img {
  display: block;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.5rem;
}
.home-try-container {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  padding: 3rem;
  border-radius: 0 0 2rem 2rem;
  z-index: 1;
}
@media (max-width: 1024px) {
  .home-try-container {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-try-container {
    width: calc(100% - 2rem);
  }
}
.home-try-container p {
  max-width: 37.5rem;
  font-family: "Cigars Medium", sans-serif;
  margin-inline: auto;
}
.home-classes {
  padding-bottom: 4rem;
}
.home-classes-head {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
}
@media (max-width: 1024px) {
  .home-classes-head {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-classes-head {
    width: calc(100% - 2rem);
  }
}
.home-classes-list {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  border-top: 1px solid #3D2F17;
  border-bottom: 1px solid #3D2F17;
}
@media (max-width: 1024px) {
  .home-classes-list {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-classes-list {
    width: calc(100% - 2rem);
  }
}
@media (max-width: 600px) {
  .home-classes-list {
    gap: 1rem;
  }
}
.home-classes-toggles {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-classes-toggle {
  text-decoration: none;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  text-align: left;
  color: #6D5725;
  padding: 1rem 1rem 1rem 0;
  border-bottom: 1px solid #3D2F17;
  border-right: 1px solid #3D2F17;
  transition: color 0.3s ease;
}
.home-classes-toggle:hover {
  cursor: pointer;
}
.home-classes-toggle:last-of-type {
  border-bottom: 0;
}
.home-classes-toggle.active {
  color: #B2482B;
  border-right: 0;
}
.home-classes-items {
  position: relative;
  flex: 2;
}
.home-classes-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
  visibility: hidden;
}
.home-classes-item.active {
  visibility: visible;
}
.home-testimonials {
  padding-block: 5rem;
  background-color: #e2d7c4;
}
.home-testimonials-container {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
@media (max-width: 1024px) {
  .home-testimonials-container {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-testimonials-container {
    width: calc(100% - 2rem);
  }
}
@media (max-width: 992px) {
  .home-testimonials-container {
    gap: 2rem;
  }
}
@media (max-width: 600px) {
  .home-testimonials-container {
    display: block;
  }
}
.home-testimonials-image {
  position: relative;
  flex: 1;
  height: auto;
  border-radius: 0.5rem;
  overflow: hidden;
}
@media (max-width: 600px) {
  .home-testimonials-image {
    height: 300px;
    margin-bottom: 2rem;
  }
}
.home-testimonials-image img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform: scale(1);
  transition: transform 1.2s ease;
}
.home-testimonials-copy {
  flex: 1;
}
.home-testimonials-cta {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  .home-testimonials-cta {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-testimonials-cta {
    width: calc(100% - 2rem);
  }
}
.home-membership {
  padding-block: 5rem;
}
.home-membership-head {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 1024px) {
  .home-membership-head {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-membership-head {
    width: calc(100% - 2rem);
  }
}
@media (max-width: 992px) {
  .home-membership-head {
    flex-direction: column;
    gap: 1rem;
  }
}
.home-membership-head h2 {
  color: #B2482B;
}
.home-membership-head-text {
  max-width: 31.25rem;
}
@media (min-width: 1441px) {
  .home-membership-head-text {
    max-width: 43.75rem;
  }
}
.home-membership-list {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (max-width: 1024px) {
  .home-membership-list {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-membership-list {
    width: calc(100% - 2rem);
  }
}
@media (max-width: 992px) {
  .home-membership-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .home-membership-list {
    grid-template-columns: 1fr;
  }
}
.home-membership-item {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.25rem;
}
.home-membership-item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3D2F17;
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: -1;
}
.home-membership-item-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.35;
}
.home-membership-item-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 9rem;
  height: 100%;
  color: #fff;
  padding: 2rem;
  z-index: 1;
}
.home-membership-item-tag {
  text-align: center;
  color: #6D5725;
}
.home-philosophy-container {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
@media (max-width: 1024px) {
  .home-philosophy-container {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-philosophy-container {
    width: calc(100% - 2rem);
  }
}
@media (max-width: 992px) {
  .home-philosophy-container {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 600px) {
  .home-philosophy-container {
    gap: 1rem;
  }
}
.home-philosophy-container h2 {
  text-wrap: nowrap;
}
.home-philosophy-item {
  padding-bottom: 2rem;
  border-bottom: 1px solid #B2482B;
}
.home-meet {
  position: relative;
  height: 100vh;
  color: #fff;
  margin-block: 6rem;
  padding-block: 2rem 6rem;
  background-color: #3D2F17;
}
.home-meet-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home-meet-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.35;
}
.home-meet-container {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 5rem;
  height: 100%;
  z-index: 1;
}
@media (max-width: 1024px) {
  .home-meet-container {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-meet-container {
    width: calc(100% - 2rem);
  }
}
.home-meet-container h2 {
  font-size: 20vw;
  line-height: 1;
}
@media (min-width: 1441px) {
  .home-meet-container h2 {
    font-size: 15vw;
  }
}
.home-meet-text {
  max-width: 31.25rem;
}
.home-meet-signature {
  max-width: 18.75rem;
}
.home-faq {
  padding-top: 5rem;
  border-top: 1px solid #B2482B;
}
.home-faq-container {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 1024px) {
  .home-faq-container {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .home-faq-container {
    width: calc(100% - 2rem);
  }
}
@media (max-width: 992px) {
  .home-faq-container {
    flex-direction: column;
  }
}
.home-faq-item {
  padding-bottom: 2rem;
  border-bottom: 1px solid #B2482B;
}
.home-faq-toggle {
  text-decoration: none;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: left;
  color: #6D5725;
}
.home-faq-toggle:hover {
  cursor: pointer;
}

.about-container {
  width: calc(100% - 5rem);
  max-width: 65rem;
  margin-inline: auto;
}
@media (max-width: 1024px) {
  .about-container {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .about-container {
    width: calc(100% - 2rem);
  }
}
.about-image {
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  overflow: hidden;
}
.about-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.about-credentials-list {
  color: #fff;
  padding: 2rem;
  background-color: #8a3a42;
  border-radius: 0.5rem;
}
@media (max-width: 992px) {
  .about-credentials-list {
    padding: 1rem;
  }
}
@media (max-width: 600px) {
  .about-credentials-list {
    margin-top: 2rem;
  }
}
.about-trigger {
  text-decoration: none;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  color: #fff;
  padding-right: 2rem;
}
.about-trigger:hover {
  cursor: pointer;
}
.about-trigger:hover::after {
  transform: translateY(-50%) scale(1.5);
}
.about-trigger[aria-expanded=true]::after {
  content: "-";
  transform: translateY(-50%) scale(1.5);
}
.about-trigger::after {
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  content: "+";
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}
.about-target {
  margin-block: 0.5rem;
}

.classes-head {
  width: calc(100% - 5rem);
  max-width: 40rem;
  margin-inline: auto;
  text-align: center;
}
@media (max-width: 1024px) {
  .classes-head {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .classes-head {
    width: calc(100% - 2rem);
  }
}
.classes-title {
  flex: 2;
}
.classes-image {
  position: relative;
  flex: 1;
  border-radius: 0.5rem;
  overflow: hidden;
}
.classes-image img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.classes-item.in-view .classes-item-title::after {
  transform: scaleX(1);
}
.classes-item-img {
  align-self: flex-start;
  padding: 0;
  border-radius: 0.5rem;
  overflow: hidden;
}
.classes-item-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.classes-item-title {
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.classes-item-title::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #8a3a42;
  transform: scaleX(0);
  transition: transform 0.6s ease;
  z-index: -1;
}
.classes-item-link {
  position: relative;
  padding-top: 2rem;
}
.classes-item-link a {
  position: absolute;
  bottom: 0;
  display: inline-block;
}

.faq-head {
  width: calc(100% - 5rem);
  max-width: 40rem;
  margin-inline: auto;
  text-align: center;
}
@media (max-width: 1024px) {
  .faq-head {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .faq-head {
    width: calc(100% - 2rem);
  }
}
.faq-container {
  width: calc(100% - 5rem);
  max-width: 40rem;
  margin-inline: auto;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 2px solid #8a3a42;
}
@media (max-width: 1024px) {
  .faq-container {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .faq-container {
    width: calc(100% - 2rem);
  }
}
.faq-question {
  position: relative;
  text-decoration: none;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Karla Variable", sans-serif;
  font-weight: 500;
  text-align: left;
  margin-left: 2rem;
}
.faq-question:hover {
  cursor: pointer;
}
.faq-question::before {
  position: absolute;
  left: -2rem;
  content: "+";
  display: inline;
  color: #8a3a42;
  margin-left: 0;
  transform: scale(1.25) rotate(0);
  transition: transform 0.3s ease;
}
.faq-question[aria-expanded=true]::before {
  transform: scale(1.6) rotate(225deg);
}
.faq-question:hover {
  text-decoration: underline;
}
.faq-answer {
  padding-left: 2rem;
}

.contact-head {
  width: calc(100% - 5rem);
  max-width: 40rem;
  margin-inline: auto;
  text-align: center;
}
@media (max-width: 1024px) {
  .contact-head {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .contact-head {
    width: calc(100% - 2rem);
  }
}
.contact-image img {
  display: block;
  width: 100%;
}
.contact-form {
  width: calc(100% - 5rem);
  max-width: 40rem;
  margin-inline: auto;
}
@media (max-width: 1024px) {
  .contact-form {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .contact-form {
    width: calc(100% - 2rem);
  }
}
.contact-form label {
  margin-bottom: 0.25rem;
}
.contact-form .message.error {
  color: #8a3a42;
}
.contact-form .errors {
  list-style-type: none;
  padding: 0;
}
.contact-form .errors li {
  font-size: 0.875rem;
  color: #8a3a42;
}
.contact-form input[type=text],
.contact-form input[type=email] {
  width: 100%;
}
.contact-form input[type=text] + .errors,
.contact-form input[type=email] + .errors {
  margin-top: 0.25rem;
}
.contact-form textarea {
  width: 100%;
}

.blog-head {
  width: calc(100% - 5rem);
  max-width: 40rem;
  margin-inline: auto;
  text-align: center;
}
@media (max-width: 1024px) {
  .blog-head {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .blog-head {
    width: calc(100% - 2rem);
  }
}
.blog-intro {
  margin-top: 3rem;
}
.blog-container {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 2px solid #8a3a42;
}
@media (max-width: 1024px) {
  .blog-container {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .blog-container {
    width: calc(100% - 2rem);
  }
}
@media (max-width: 1024px) {
  .blog-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px) {
  .blog-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .blog-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.blog-item img {
  display: block;
  width: 100%;
}

.post-head {
  width: calc(100% - 5rem);
  max-width: 40rem;
  margin-inline: auto;
  text-align: center;
}
@media (max-width: 1024px) {
  .post-head {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .post-head {
    width: calc(100% - 2rem);
  }
}
.post-head h1 {
  margin: 0;
}
.post-intro {
  margin-top: 3rem;
}
.post-container {
  width: calc(100% - 5rem);
  max-width: 40rem;
  margin-inline: auto;
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 2px solid #8a3a42;
}
@media (max-width: 1024px) {
  .post-container {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .post-container {
    width: calc(100% - 2rem);
  }
}
.post-container .emphasis {
  font-family: "Karla Variable", sans-serif;
  font-weight: 500;
  transform: translateX(-2rem);
}
@media (max-width: 992px) {
  .post-container .emphasis {
    transform: translateX(0);
  }
}

.testimonials-head {
  width: calc(100% - 5rem);
  max-width: 40rem;
  margin-inline: auto;
  text-align: center;
}
@media (max-width: 1024px) {
  .testimonials-head {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .testimonials-head {
    width: calc(100% - 2rem);
  }
}
.testimonials-head h1 {
  margin: 0;
}
.testimonials-intro {
  margin-top: 3rem;
}
.testimonials-container {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
}
@media (max-width: 1024px) {
  .testimonials-container {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .testimonials-container {
    width: calc(100% - 2rem);
  }
}
.testimonials-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 2px solid #8a3a42;
}
@media (max-width: 992px) {
  .testimonials-item {
    flex-direction: column;
    align-items: stretch;
  }
}
.testimonials-item:nth-child(even) .testimonials-video {
  order: 2;
}
@media (max-width: 992px) {
  .testimonials-item:nth-child(even) .testimonials-video {
    order: 1;
  }
}
.testimonials-item:nth-child(even) .testimonials-desc {
  order: 1;
}
@media (max-width: 992px) {
  .testimonials-item:nth-child(even) .testimonials-desc {
    order: 2;
  }
}
.testimonials-video {
  position: relative;
  flex: 1;
  aspect-ratio: 16/9;
}
.testimonials-video-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  z-index: 1;
}
.testimonials-video-btn:hover {
  cursor: pointer;
}
.testimonials-video-btn:hover svg {
  transform: scale(1.25);
}
.testimonials-video-btn svg {
  display: block;
  width: 2rem;
  height: 2rem;
  fill: #fff;
  transform: scale(1);
  transition: transform 0.3s ease;
  pointer-events: none;
}
.testimonials-video-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(50%);
}
.testimonials-video iframe {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.testimonials-desc {
  flex: 1;
}

.podcasts-head {
  width: calc(100% - 5rem);
  max-width: 40rem;
  margin-inline: auto;
  text-align: center;
}
@media (max-width: 1024px) {
  .podcasts-head {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .podcasts-head {
    width: calc(100% - 2rem);
  }
}
.podcasts-intro {
  margin-top: 3rem;
}
.podcasts-container {
  width: calc(100% - 5rem);
  max-width: 82rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 2px solid #8a3a42;
}
@media (max-width: 1024px) {
  .podcasts-container {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .podcasts-container {
    width: calc(100% - 2rem);
  }
}
@media (max-width: 992px) {
  .podcasts-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .podcasts-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.podcasts-item-image {
  display: block;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.podcasts-item-image:hover img {
  transform: scale(1.075);
}
.podcasts-item-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  transition: transform 1.2s ease;
}
.podcasts-item-link {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease;
}
.podcasts-item-link:hover {
  text-decoration-color: inherit;
}

.episode {
  width: calc(100% - 5rem);
  max-width: 40rem;
  margin-inline: auto;
}
@media (max-width: 1024px) {
  .episode {
    width: calc(100% - 4rem);
  }
}
@media (max-width: 600px) {
  .episode {
    width: calc(100% - 2rem);
  }
}
.episode__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
}
@media (max-width: 600px) {
  .episode__head {
    flex-direction: column;
    align-items: flex-start;
  }
}
.episode__head__image {
  flex: 1;
  aspect-ratio: 1/1;
}
@media (max-width: 600px) {
  .episode__head__image {
    order: 2;
  }
}
.episode__head__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.episode__head__copy {
  flex: 2;
}
@media (max-width: 600px) {
  .episode__head__copy {
    flex: 1;
    order: 1;
  }
}
.episode__content blockquote {
  font-size: 1.25rem;
  color: #8a3a42;
  padding-block: 1rem;
}
.episode__content__links {
  display: flex;
  gap: 2rem;
}
@media (max-width: 600px) {
  .episode__content__links {
    flex-direction: column;
    gap: 1rem;
  }
}
.episode__content__links a {
  font-family: "Karla Variable", sans-serif;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease;
}
.episode__content__links a:hover {
  text-decoration-color: inherit;
}
.episode__content__links .link-apple-podcast::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  background-image: url(/assets/icons/icon-podcasts-apple.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(0.375rem);
}
.episode__content__links .link-spotify-podcast::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  background-image: url(/assets/icons/icon-podcasts-spotify.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(0.375rem);
}
.episode__content__video {
  aspect-ratio: 16/9;
}
.episode__content__video iframe {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.fd-has-success .fd-form-content {
  display: none;
}

.fd-has-captcha .fd-form-content > *:not(.fd-form-captcha) {
  opacity: 0;
  visibility: hidden;
}

.fd-form-success {
  display: none;
}

.fd-has-success .fd-form-success {
  display: block;
  color: #8a3a42 !important;
}

.fd-form-success > *:last-child {
  margin-bottom: 0;
}

.fd-form-error {
  display: none;
}

.fd-has-error .fd-form-error {
  display: block;
}

.fd-form-error > *:last-child {
  margin-bottom: 0;
}

.fd-form-intro {
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .fd-form-intro {
    margin-bottom: 1rem;
  }
}

.fd-form {
  text-align: center;
}
@media (max-width: 992px) {
  .fd-form {
    text-align: left;
  }
}

.fd-form-content {
  display: flex;
  justify-content: center;
  align-items: flex-end !important;
  gap: 2rem;
}
@media (max-width: 992px) {
  .fd-form-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

.fd-form-group {
  padding-top: 1.5rem;
}
.fd-form-group .fd-form-label {
  font-family: "Karla Variable", sans-serif !important;
  font-size: 0.75rem !important;
  font-weight: 500;
  line-height: 1.2 !important;
  text-align: left;
  text-transform: uppercase !important;
  padding: 0 !important;
}
.fd-form-group input {
  min-width: 12rem;
  height: 44px !important;
  border: 1px solid #bbb !important;
  border-radius: 0.25rem !important;
}
@media (max-width: 600px) {
  .fd-form-group input {
    width: 100%;
  }
}

.fd-focus-visible:nth-child(n):nth-child(n):nth-child(n) {
  outline: 1px solid #8a3a42 !important;
  box-shadow: unset !important;
}

.fd-btn {
  text-decoration: none;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  font-family: "Karla Variable", sans-serif !important;
  font-size: 1rem !important;
  height: 44px !important;
  font-weight: 500;
  line-height: 40px !important;
  color: #fff;
  padding: 0 2rem !important;
  background-color: #8a3a42 !important;
  border: 2px solid #8a3a42 !important;
  border-radius: 0.25rem !important;
  transition: color 0.6s ease, background-color 0.6s ease;
}
.fd-btn:hover {
  cursor: pointer;
}
.fd-btn:hover {
  color: #8a3a42 !important;
  background-color: transparent !important;
}

.ff-64f77876db7b1adad52ffecb__form {
  padding: 0 !important;
}

.ff-64f77876db7b1adad52ffecb__title {
  display: none !important;
}

.ff-64f77876db7b1adad52ffecb__subtitle {
  font-family: "Karla Variable", sans-serif;
  font-size: 1rem !important;
  margin-bottom: 1.5rem !important;
}
