<footer class="footer">
    <div class="footer-inner stack-md">
        <a class="footer-logo" href="/">
            <img src="/assets/images/logo-footer.png" alt="Visit the Modern Body homepage.">
        </a>

        <div class="footer-middle">
            {% if global.footerDescription %}
                <div class="footer-desc">{{ global.footerDescription }}</div>
            {% endif %}

            <nav class="footer-nav">
                <div class="footer-nav-column">
                    <h2>Modern Body</h2>
                    {{ craft.navigation.render('footerSiteNav', {
                        liClass: 'footer-nav-item',
                        aClass: 'footer-nav-link',
                        activeClass: 'active',
                        })
                    }}
                </div>
                <div class="footer-nav-column">
                    <h2>Classes</h2>
                    {{ craft.navigation.render('footerClassesNav', {
                        liClass: 'footer-nav-item',
                        aClass: 'footer-nav-link external',
                        activeClass: 'active',
                        })
                    }}
                </div>               
                <div class="footer-nav-column">
                    <h2>Let's Connect</h2>
                    {{ craft.navigation.render('footerSocialLinks', {
                        liClass: 'footer-nav-item',
                        aClass: 'footer-nav-link',
                        activeClass: 'active',
                        })
                    }}
                </div>
            </nav>
        </div>

        <div class="footer-copyright">
            <small>&copy; <span id="copyright-year"></span> Aly DiRoma. Website by <a href="http://angelahanshaw.com" target="_blank" rel="noopener noreferrer">Angela Hanshaw</a>.</small>
        </div>
    </div>
</footer>