<header class="header">
    <div class="header-container">
        {% set image = global.globalLogoImageLong.one() %}
        {% if image %}
            <a class="header-logo mobile" href="/" title="home">
                <img src="/assets/images/logo-header-home.png" alt="Visit the Modern Body homepage.">
            </a>
        {% endif %}

        {% include '_partials/nav-main-left' %}
        {% if image %}
            <a class="header-logo desktop" href="/" title="home">
                <img src="/assets/images/logo-header-home.png" alt="Visit the Modern Body homepage.">
            </a>
        {% endif %}
        {% include '_partials/nav-main-right' %}
    </div>
</header>