<header class="header">
    <div class="header-container">
        {% include '_partials/nav-main-left' %}
        {% set image = global.globalLogoImageLong.one() %}
        {% if image %}
            <a class="header-logo" href="/" title="home">
                <img class="logo-home" src="/assets/images/logo-header-home.png" alt="Visit the Modern Body homepage.">
                <img class="logo-interior" src="/assets/images/logo-header-interior.png" alt="Visit the Modern Body homepage.">
            </a>
        {% endif %}
        {% include '_partials/nav-main-right' %}
        <button class="header-mobile btn-secondary-black btn-sm" aria-pressed="false" data-mobile-nav-btn>Menu</button>
        {% include '_partials/nav-mobile' %}
    </div>
</header>