<div class="nav-mobile stack-sm" data-mobile-nav>
    {% set image = global.globalLogoImageLong.one() %}
    {% if image %}
        <a class="nav-mobile-image" href="/" title="home">
            <img src="{{ image.url() }}" alt="Aly DiRoma">
        </a>
    {% endif %}
    <nav class="mobile-nav">
        <ul class="stack-sm">
            {% set nodes = craft.navigation.nodes('mainNavLeft').all() %}
            {% nav node in nodes %}
                <li class="nav-item">
                    <a {% if node.url %}href="{{ node.url }}" {% endif %}
                        class="nav-link bold {% if node.active %}nav-active{% endif %}">
                        {{- node.title -}}
                    </a>
                </li>
            {% endnav %}

            {% set nodes = craft.navigation.nodes('mainNavRight').all() %}
            {% nav node in nodes %}
            <li class="nav-item">
                <a {% if node.url %}href="{{ node.url }}" {% endif %}
                    class="nav-link bold external {% if node.active %}nav-active{% endif %}">
                    {{- node.title -}}
                </a>
            </li>
            {% endnav %}
        </ul>
    </nav>
</div>