{% extends "_layout" %}
{% block content %}
<main class="about">
    <h1 class="sr-only">About Page</h1>
    <div class="about-container">
        <section class="stack-sm">
            <h2 class="h3-style">About Aly</h2>
            <p>Modern Body developed from the desire I had to find a way to keep my body strong and healthy without running myself into the ground.</p>
            <p>Having come from a world of dance and athletics my entire life, you could say movement to me is like a second language. The relationship I developed with my body was intimate and deep, but not always kind.</p>
            <p>While dancing and training gave me the strength and understanding of how my body moved and functioned, it also took its toll over the years. I was not only run down and out of sync with the needs of my body, but I was also disconnected from what was best for my health.</p>
            <p>As the pressures I placed upon my body grew, they culminated into the development of some disordered patterns of behavior that from the outside looked “healthy,” but left me depleted and searching for a new way to take care of myself.</p>
            <p>As much as I tried to step away from movement while working through my challenges, I knew something was missing. I could no longer deny the fact that if I wasn’t moving my body in some way, shape, or form, I didn’t feel quite right.</p>
            <p class="emphasis">I found Pilates and gained a new perspective on how my body functioned. With more knowledge, and a deep appreciation of the complexity, but also the simplicity, of what physical well-being really meant, I knew I wanted to help more people feel this way too.</p>
            <p>I loved that I no longer had to put myself through the wringer to get stronger, and I didn’t have to spend hours a day exercising to be healthy. I realized that consistency, paired with a mentality of  quality over quantity, is most effective.</p>
            <p>I believe that building a strong, resilient, mobile body plays a critical role in allowing us to continue living the life we desire, without hesitation, for years to come.</p>
        </section>

        <section class="stack-sm">
            <h2 class="h3-style">About Modern Body</h2>
            <p>Modern Body is focused on taking care of your health and physical well-being in a way that supports the needs of your body for your modern life.</p>
            <p>Our goal is to help you create a strong, mobile, and stable body through our Pilates and movement program. This is about taking care of your body today and keeping it moving for years to come, no matter what season of life you’re in.</p>
            <p>With our workouts and classes designed to support your body’s needs, you’ll cultivate a lasting relationship with movement. Our program is crafted specifically to keep you feeling good and living life the way you want to.</p>
            <p>We stay current with the latest scientific research in the fields of physiology and exercise sciences to implement into our programming. This way you’ll always be instructed to move with the safest and most effective practices for your body.</p>
            <p>Modern to us means more than research, it also means staying present with your body and training it for what you need here and now. Because your body is constantly changing each day, instead of fighting against change, we embrace it.</p>
            <p>We keep the focus on recognizing where your body is in the current moment, then work out according to what will be most supportive to your goals, lifestyle, and nervous system. Not everyday will be a push;  some days may be more intense, and others more about maintenance or restoration.</p>
            <p class="emphasis">This is a program designed to give you a sustainable method to move your body for years to come. It’s not about how hard your body works, but about how well your body works.</p>
            <p>We believe your body is stronger than you know, and more intelligent than you give it credit for. When you show up for yourself and take care of your one body, you’ll be amazed at what you are capable of.</p>
            <p>We promise to give you the most effective method to build a resilient, responsive, adaptable body to support you no matter what life throws your way.</p>
        </section>
    </div>

    <section class="about-classes stack-sm">
        <div class="about-classes-head">
            <h2 class="h3-style">{{entry.aboutClassListHead}}</h2>
        </div>
        <div class="about-classes-list">
            <div class="about-classes-toggles">
                {% set blocks = entry.aboutClassList.all() %}
                {% if blocks | length %}
                {% for block in blocks %}
                {% set classIndex = "class-#{loop.index}" %}
                {% set toggleIndex = "toggle-#{loop.index}" %}
                {% if loop.first %}
                <button id={{ toggleIndex }} class="about-classes-toggle active" aria-expanded="true" aria-controls={{
                    classIndex }}>{{ block.aboutClassItemToggleText | striptags }}</button>
                {% else %}
                <button id={{ toggleIndex }} class="about-classes-toggle" aria-expanded="false" aria-controls={{
                    classIndex }}>{{ block.aboutClassItemToggleText | striptags }}</button>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="about-classes-items">
                {% set blocks = entry.aboutClassList.all() %}
                {% if blocks | length %}
                {% for block in blocks %}
                {% set classIndex = "class-#{loop.index}" %}
                {% set toggleIndex = "toggle-#{loop.index}" %}
                {% if loop.first %}
                <div class="about-classes-item stack-sm active" id={{ classIndex }} role="region" aria-labelledby={{
                    toggleIndex }} data-height>
                    <span class="about-classes-item-text">{{block.aboutClassItemText}}</span>
                    {% if block.aboutClassItemCta %}
                    <a class="btn-underline-orange" href="{{ block.aboutClassItemCta }}">{{
                        block.aboutClassItemCta.getCustomText('CTA') }}</a>
                    {% endif %}
                </div>
                {% else %}
                <div class="about-classes-item stack-sm" id={{ classIndex }} role="region" aria-labelledby={{
                    toggleIndex }} data-height>
                    <span class="about-classes-item-text">{{block.aboutClassItemText}}</span>
                    {% if block.aboutClassItemCta %}
                    <a class="btn-underline-orange" href="{{ block.aboutClassItemCta }}">{{
                        block.aboutClassItemCta.getCustomText('CTA') }}</a>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock %}