{% extends "_layout" %}
{% block content %}
<main class="about stack-reg">
    <div class="about-container">
        <h1>{{ entry.aboutTitle }}</h1>
    </div>
    <div class="about-container">
        <div class="about-credentials stack-md">
            {% set image = entry.aboutImage.one() %}
            {% if image %}
            <div class="about-image">
                <img src="{{ image.url() }}" alt="Aly DiRoma">
            </div>
            {% endif %}
            <div class="stack-sm">
                <h2>{{ entry.aboutCredentialsHead }}</h2>
                {{ entry.aboutCredentials }}
            </div>
        </div>
        <div class="about-bio stack-sm">
            {{ entry.aboutBio }}
        </div>
    </div>
</main>
{% endblock %}