{% extends "_layout" %}
{% block content %}
<main class="home">
    <section class="home-hero">
        <div class="home-hero-container">
            <h1 class="sr-only">{{ entry.homeTitle }}</h1>
            <div class="home-hero-copy stack-sm">
                <p class="home-hero-tagline">{{ entry.homeHeroTagline | striptags }}</p>
                {% if entry.homeHeroCta.getLink() %}
                    <p class="home-hero-cta"><a class="btn" href="{{ entry.homeHeroCta }}">{{ entry.homeHeroCta.customText }}</a></p>
                {% endif %}
            </div>
        </div>
        <div class="home-hero-bg">
            {% if entry.homeHeroImage %}
                {% set blockImage = entry.homeHeroImage.one() %}
                {% if blockImage %}
                    {% include '_partials/block-image' %}
                {% endif %}
            {% endif %}
        </div>
    </section>

    <section class="home-approach">
        <div class="home-approach-container">
            <div class="home-approach-column stack-reg">
                {{entry.homeApproachTopText}}
                {% set image = entry.homeApproachImage.one() %}
                {% if image %}
                    <div class="home-approach-image">
                        <img src="{{ image.url }}"  alt="{{ image.alt }}" />
                    </div>
                {% endif %}
            </div>
            <div class="home-approach-column stack-reg">
                {% set image = entry.homeApproachIcon.one() %}
                {% if image %}
                    <div class="home-approach-icon">
                        <img src="{{ image.url }}"  alt="{{ image.alt }}" />
                    </div>
                {% endif %}
                {{entry.homeApproachBottomText}}
                {% if entry.homeApproachCta %}
                    <a class="btn" href="{{ entry.homeApproachCta }}">{{ entry.homeApproachCta.getCustomText('Begin Your Movement Practice') }}</a>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="home-difference stack-lg">
        <div class="home-difference-head stack-sm">
            <h2>{{entry.homeDifferenceHead}}</h2>
            {{entry.homeDifferenceText}}
        </div>
        <div class="home-difference-list">
            {% set blocks = entry.homeDifferenceList.all() %}
            {% if blocks | length %}
                {% for block in blocks %}
                    <div class="home-difference-item">
                        {% set blockImage = block.homeDifferenceItemIcon.one() %}
                        {% if blockImage %}
                            <div class="home-difference-icon">
                                {% include '_partials/block-image' %}
                            </div>
                        {% endif %}
                        <div class="stack-xs"> 
                            <p>{{ loop.index }}</p>
                            <span class="home-difference-text">{{block.homeDifferenceText}}</span>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>

    <section class="home-try">
        <div class="home-try-head">
            <h2>{{entry.homeTryHead}}</h2>
            <p>{{entry.homeTrySubhead}}</p>
        </div>

        <div class="home-try-images">
            {% set tryImages = entry.homeTryImages.all() %}
            {% for blockImage in tryImages %}
            <div class="home-try-image">
                {% include '_partials/block-image' %}
            </div>
            {% endfor %}
        </div>

        <div class="home-try-container">
            {{entry.homeTryText}}
            <a class="" href="{{ entry.homeTryCta }}">{{ entry.homeTryCta.getCustomText('Try for Free') }}</a>
        </div>
    </section>

    <section class="home-classes">
        <div class="home-classes-container">
            <h2>{{entry.homeClassListHead}}</h2>
            <div class="home-classes-toggles">
                {% set blocks = entry.homeClassList.all() %}
                {% if blocks | length %}
                    {% for block in blocks %}
                        <div class="home-classes-item">
                           {{ block.classItemText }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="home-classes-items">
                {% set blocks = entry.homeClassList.all() %}
                {% if blocks | length %}
                    {% for block in blocks %}
                        <div class="home-classes-item">
                            {{block.classItemText}}
                            <a class="" href="{{ block.homeTestimonialLink }}">{{ block.homeClassItemCta.getCustomText('CTA') }}</a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

    <section class="home-testimonials">
        <div class="home-testimonials-container">
            <div class="home-testimonials-image animate">
                {% set blockImage = entry.homeTestimonialImage.one() %}
                {% if blockImage %}
                    {% include '_partials/block-image' %}
                {% endif %}
            </div>
            <div class="home-testimonials-copy stack-sm animate">
                <h2>{{ entry.homeTestimonialsHead }}</h2>
                <div class="stack-reg">
                    {% set blocks = entry.homeTestimonialsList.all() %}
                    {% if blocks | length %}
                        {% for block in blocks %}
                            <div>
                                <p>{{ block.homeTestimonial | striptags }}&mdash;<em>{{ block.homeTestimonialName }}</em></p>
                                {% if block.homeTestimonialLink %}
                                    <a class="home-testimonials-link" href="{{ block.homeTestimonialLink }}">{{ block.homeTestimonialLink.getCustomText('Watch Video') }}</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="home-membership">
        <div class="home-memberhip-head">
            <h2>{{entry.homeMembershipHead}}</h2>
            {{entry.homeMembershipDescription}}
        </div>
        <div class="home-membership-list">
            <div class="stack-reg">
                {% set blocks = entry.homeMembershipOptions.all() %}
                {% if blocks | length %}
                    {% for block in blocks %}
                        <div class="home-membership-item">
                            <div class="home-membership-item-image">
                                {% set blockImage = block.homeMembershipOptionImage.one() %}
                                {% if blockImage %}
                                    {% include '_partials/block-image' %}
                                {% endif %}
                            </div>
                                <h3>{{block.homeMembershipOptionPlan}}</h3>
                                <p>{{block.homeMembershipOptionPrice}}</p>
                                {% if block.homeMembershipOptionSubhead %}
                                    <p>{{block.homeMembershipOptionSubhead}}</p>
                                {% endif %}
                                <a class="" href="{{ block.homeTestimonialLink }}">{{ block.homeMembershipOptionCta.getCustomText('Select This Plan') }}</a>
                            </div>
                            <p>{{block.homeMembershipOptionDetail}}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

    <section class="home-philosopy">
        <div class="home-philosopy-container">
            <h2>{{entry.homePhilosophyHead}}</h2>
            <div class="home-philosopy-list">
                {% set blocks = entry.homePhilosophyList.all() %}
                {% if blocks | length %}
                    {% for block in blocks %}
                        <div class="home-philosopy-item">
                           <h3>{{ block.homePhilosophyItemHead }}</h3>
                           {{ block.homePhilosophyItemDescription }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

    <section class="home-meet">
        <div class="home-meet-image">
            {% set blockImage = entry.homeMeetAlyImage.one() %}
            {% if blockImage %}
                {% include '_partials/block-image' %}
            {% endif %}
        </div>
        <h2>Meet Aly</h2>
        {{ entry.homeMeetAlyText }}
    </section>

    <section class="home-faq">
        <div class="home-faq-container">
            <h2>{{entry.homeFaqHead}}</h2>
            <div class="home-faq-toggles">
                {% set blocks = entry.homeFaqList.all() %}
                {% if blocks | length %}
                    {% for block in blocks %}
                        <div class="home-faq-item">
                           {{ block.homeFaqQuestion }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="home-faq-items">
                {% set blocks = entry.homeFaqList.all() %}
                {% if blocks | length %}
                    {% for block in blocks %}
                        <div class="home-faq-item">
                            {{ block.homeFaqAnswer }}</a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock %}