{% extends "_layout" %}
{% block content %}
<main class="testimonials">
    <div class="testimonials-head stack-sm">
        <h1>{{ entry.title }}</h1>
        {% if entry.testimonialIntro %}
            <div class="testimonials-intro rich-text large-font">
                {{ entry.testimonialIntro }}
            </div>
        {% endif %}
    </div>
    <div class="testimonials-container stack-xl">
        {% set blocks = entry.testimonialItems.all() %}
        {% if blocks | length %}
            {% for block in blocks %}
                <div id="{{ block.testimonialAnchor }}" class="testimonials-item">
                    <div class="testimonials-video">
                        <button class="testimonials-video-btn">
                            <span class="sr-only">Play</span>
                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="800" height="800" viewBox="0 0 408.221 408.221"><path d="M204.11 0C91.388 0 0 91.388 0 204.111c0 112.725 91.388 204.11 204.11 204.11 112.729 0 204.11-91.385 204.11-204.11C408.221 91.388 316.839 0 204.11 0zm82.437 229.971-126.368 72.471c-17.003 9.75-30.781 1.763-30.781-17.834V140.012c0-19.602 13.777-27.575 30.781-17.827l126.368 72.466c17.004 9.752 17.004 25.566 0 35.32z"/></svg>
                        </button>
                        {% set blockImage = block.testimonialPosterImage.one() %}
                        {% if blockImage %}
                            <img class="testimonials-video-image" src="{{ blockImage.url() }}" alt="{{ blockImage.alt }}">
                        {% endif %}
                        <iframe src="https://player.vimeo.com/video/{{ block.testimonialVideo }}?h=c1bcc1e18c&autoplay=1&title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen; picture-in-picture" allowfullscreen loading="lazy"></iframe>
                    </div>
                    <div class="testimonials-desc stack-xs">
                        <h2>{{ block.testimonialName }}</h2>
                        {% if block.testimonialSummary %}
                            <p>{{ block.testimonialSummary }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}