{% extends "_layout" %}
{% block content %}
<main class="testimonials">
    <div class="testimonials-head stack-sm">
        <h1>{{ entry.title }}</h1>
        {% if entry.testimonialIntro %}
            <div class="testimonials-intro rich-text large-font">
                {{ entry.testimonialIntro }}
            </div>
        {% endif %}
    </div>
    <div class="testimonials-container stack-xl">
        {% set blocks = entry.testimonialItems.all() %}
        {% if blocks | length %}
            {% for block in blocks %}
                <div id="{{ block.testimonialAnchor }}" class="testimonials-item">
                    <div class="testimonials-video">
                        <iframe src="https://player.vimeo.com/video/{{ block.testimonialVideo }}?h=c1bcc1e18c&autoplay=1&title=0&byline=0&portrait=0" frameborder="0" allow="fullscreen; picture-in-picture" allowfullscreen loading="lazy"></iframe>
                    </div>
                    <div class="testimonials-desc stack-xs">
                        <h2>{{ block.testimonialName }}</h2>
                        {% if block.testimonialSummary %}
                            <p>{{ block.testimonialSummary }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}