@font-face {
	font-family: "Cigars Medium";
	src: url("/assets/fonts/hwcigars_medium-webfont.woff2") format("woff");
}

@font-face {
	font-family: "Karla Variable";
	src: url("/assets/fonts/Karla-VariableFont_wght.woff2") format("woff");
}
