@font-face {
	font-family: "Roslindale Display Variable";
	src: url("/assets/fonts/RoslindaleVariableVFDisplay.woff2") format("woff2");
}

/*
@font-face {
	font-family: "Roslindale Display Narrow Medium";
	src: url("/assets/fonts/roslindale-displaynarrowmedium-webfont.woff") format("woff");
}

@font-face {
	font-family: "Roslindale Display Narrow Extra Light";
	src: url("/assets/fonts/roslindale-displaynarrowextralight-webfont.woff") format("woff");
}
*/

@font-face {
	font-family: "Poppins Regular";
	src: url("/assets/fonts/Poppins-Regular.woff") format("woff");
}

@font-face {
	font-family: "Poppins Medium";
	src: url("/assets/fonts/Poppins-Medium.woff") format("woff");
}

@font-face {
	font-family: "Poppins SemiBold";
	src: url("/assets/fonts/Poppins-SemiBold.woff") format("woff");
}

@font-face {
	font-family: "Poppins Bold";
	src: url("/assets/fonts/Poppins-Bold.woff") format("woff");
}
