html {
	box-sizing: border-box;
}

* {
	margin:0;
	padding:0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	@include font-reg;
	@include toRem('font-size', 16);
	line-height: 1.8;
	color: $black;
	background-color: $white;
	//background: linear-gradient(0deg, $beige 0%, $white 100%);
	margin: 0;
	padding: 0;

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}
}

section {
	margin-bottom: 8rem;

	@include break(tablet) {
		margin-bottom: 6rem;
	}

	@include break(mobile) {
		margin-bottom: 4rem;
	}
}

*:last-child {
	margin-bottom: 0;
}

p + h2,
p + .h2-style {
	margin-top: $gap-md;
}

h1, .h1-style {
	@include font-logo;
	@include toRem('font-size', 44);
	line-height: 1.2;
	margin-bottom: $gap-sm;

	@include break(tablet) {
		@include toRem('font-size', 40);
	}

	@include break(mobile) {
		@include toRem('font-size', 36);
	}
}

h2, .h2-style {
	@include font-logo;
	@include toRem('font-size', 28);
	line-height: 1.2;

	@include break(tablet) {
		@include toRem('font-size', 26);
	}

	@include break(mobile) {
		@include toRem('font-size', 24);
	}
}

h3, .h3-style {
	@include font-medium;
	@include toRem('font-size', 22);
	line-height: 1.2;

	@include break(mobile) {
		@include toRem('font-size', 20);
	}
}

h4, .h4-style {
	@include font-medium;
	@include toRem('font-size', 18);
	line-height: 1.2;
}

.p-style {
	@include font-reg;
	@include toRem('font-size', 16);
	line-height: 1.8;
}

.p-small {
	@include font-reg;
	@include toRem('font-size', 14);
	line-height: 1.8;
}

small {
	@include toRem('font-size', 12);
}

a, button {
	&:focus-visible {
		outline: 1px solid $accent;
		outline-offset: 2px;
	}
}

a {
	color: $accent;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

ul,
ol {
	padding-left: $gap-sm;
}

strong,
.bold {
	@include font-medium;
}

.desktop {
	display: block;

	@include break(mobile) {
		display: none;
	}
}

.mobile {
	display: none;

	@include break(mobile) {
		display: block;
	}
}

.large-font {
	@include toRem('font-size', 18);
}

.emphasis:nth-child(n) {
	@include font-logo;
	@include toRem('font-size', 24);
	line-height: 1.8;
	color: $accent;
	margin: $gap 0;

	@include break(tablet) {
		@include toRem('font-size', 22);
	}

	@include break(mobile) {
		@include toRem('font-size', 20);
	}
}

.object-fit {
	@include object-fit;
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
  }