html {
	box-sizing: border-box;
}

* {
	margin:0;
	padding:0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	@include font-reg;
	@include toRem('font-size', 16);
	line-height: 1.8;
	color: $black;
	background-color: $white;
	margin: 0;
	padding: 0;
}

section {
	margin-bottom: 8rem;

	@include break(tablet) {
		margin-bottom: 6rem;
	}

	@include break(mobile) {
		margin-bottom: 4rem;
	}
}

h1, .h1-style {
	@include font-logo;
	@include toRem('font-size', 44);
	line-height: 1.2;

	@include break(tablet) {
		@include toRem('font-size', 40);
	}

	@include break(mobile) {
		@include toRem('font-size', 36);
	}
}

h2, .h2-style {
	@include font-logo;
	@include toRem('font-size', 32);
	line-height: 1.2;

	@include break(tablet) {
		@include toRem('font-size', 28);
	}

	@include break(mobile) {
		@include toRem('font-size', 24);
	}
}

h3, .h3-style {
	@include font-medium;
	@include toRem('font-size', 24);
	line-height: 1.2;

	@include break(mobile) {
		@include toRem('font-size', 20);
	}
}

strong {
	@include font-medium;
}

.large-font {
	@include toRem('font-size', 18);

	@include break(tablet) {
		@include toRem('font-size', 17);
	}
}

.object-fit {
	@include object-fit;
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
  }