%h1-style {
	@include font-head;
	@include toRem('font-size', 72);
    line-height: 1.2;
    letter-spacing: 0.005em;
}

%h2-style {
	@include font-head;
	@include toRem('font-size', 60);
    line-height: 1.2;
    letter-spacing: 0.005em;
    text-wrap: pretty;

    @include break(tablet) {
        @include toRem('font-size', 56);
	}

    @include break(mobile) {
        @include toRem('font-size', 48);
	}
}

%h3-style {
	@include font-head;
	@include toRem('font-size', 40);
    line-height: 1.2;
    letter-spacing: 0.005em;
    text-wrap: pretty;

    @include break(tablet) {
        @include toRem('font-size', 36);
	}
}

%h4-style {
	@include font-head;
	@include toRem('font-size', 24);
    line-height: 1.6;
    text-wrap: pretty;
}

%p-large {
	@include font-body;
	@include toRem('font-size', 22);
    line-height: 1.6;
    text-wrap: pretty;
}

%p-style {
	@include font-body;
	@include toRem('font-size', 19);
    line-height: 1.6;
    text-wrap: pretty;
}

%p-small {
	@include font-body;
	@include toRem('font-size', 16);
    line-height: 1.6;
    text-wrap: pretty;
}

%tag {
	@include font-bold;
	@include toRem('font-size', 17);
    text-transform: uppercase;
}

%tag-small {
	@extend %tag;
	@include toRem('font-size', 15);
}

h1,
.h1-style {
	@extend %h1-style;
}

h2,
.h2-style {
	@extend %h2-style;
}

h3,
.h3-style {
	@extend %h3-style;
}

h4,
.h4-style {
	@extend %h4-style;
}

.p-large {
	@extend %p-large;
}

p,
.p-style {
	@extend %p-style;
}

.p-small {
	@extend %p-small;
}

.tag {
    @extend %tag;
}

.tag-small {
    @extend %tag-small;
}