{% extends "_layout" %}
{% block content %}
    <main class="faq stack-xl">
        <div class="faq-head stack-sm">
            <h1>{{ entry.title }}</h1>
            {% if entry.faqIntro %}
            <div class="rich-text stack-xs">
                {{ entry.faqIntro }}
            </div>
            {% endif %}
        </div>
        <div class="faq-container">
            {% set blocks = entry.faqs.all() %}
            {% if blocks | length %}
                {% for block in blocks %}
                    {{ block.faqQuestion }}
                    {{ block.faqAnswer }}
                {% endfor %}
            {% endif %}
        </div>
    </main>
{% endblock %}