{% extends "_layout" %}
{% block content %}
<main class="faq stack-xl">
    <div class="faq-head stack-sm">
        <h1>{{ entry.title }}</h1>
        {% if entry.faqIntro %}
        <div class="rich-text">
            {{ entry.faqIntro }}
        </div>
        {% endif %}
    </div>
    <div class="faq-container stack-reg" data-panel-group>
        {% set blocks = entry.faqs.all() %}
        {% if blocks | length %}
            {% for block in blocks %}
                <div class="stack-xs" data-panel>
                    <button class="faq-question large-font bold" data-panel-trigger aria-expanded="false">
                        {{ block.faqQuestion }}
                    </button>
                    <div class="panel-target rich-text" style="visibility: hidden" data-panel-target data-height>
                        {{ block.faqAnswer }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}