.about {

    &-container {
        @include container($medium);
    }

    &-image {
        aspect-ratio: 1 / 1;
        border-radius: $radius-large;
        overflow: hidden;

        img {
            @include object-fit;
        }
    }

    &-credentials {

        &-list {
            color: $white;
            padding: $gap;
            background-color: $accent;
            border-radius: $radius-large;

            @include break(tablet) {
                padding: $gap-sm;
            }

            @include break(mobile) {
                margin-top: $gap;
            }
        }
    }

    &-trigger {
        @include button-reset;
        position: relative;
        display: block;
        width: 100%;
        text-align: left;
        color: $white;
        padding-right: $gap;

        &:hover {
            &::after {
                transform: translateY(-50%) scale(1.5);
            }
        }

        &[aria-expanded="true"] {
            &::after {
                content: '-';
                transform: translateY(-50%) scale(1.5);
            }
        }

        &::after {
            position: absolute;
            top: 50%;
            right: 0;
            display: inline-block;
            content: '+';
            transform: translateY(-50%);
            transition: transform .3s ease;
        }
    }

    &-target {
        margin-block: $gap-xs;
    }
}