.episode {
    @include container($narrow);

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: $gap;

        @include break(mobile) {
            flex-direction: column;
            align-items: flex-start;
        }

        &__image {
            flex: 1;
            aspect-ratio: 1 / 1;

            @include break(mobile) {
                order: 2;
            }

            img {
                @include object-fit;
            }
        }

        &__copy {
            flex: 2;

            @include break(mobile) {
                flex: 1;
                order: 1;
            }
        }
    }

    &__content {

        blockquote {
            @include toRem('font-size', 20);
            color: $accent;
            padding-block: 1rem;
        }

        &__links {
            display: flex;
            gap: $gap;

            @include break(mobile) {
                flex-direction: column;
                gap: $gap-sm;
            }

            a {
                @include font-medium;
                text-decoration: underline;
                text-decoration-color: transparent;
                transition: text-decoration-color .3s ease;
    
                &:hover {
                    text-decoration-color: inherit;
                }
            }

            .link-apple-podcast {

                &::before {
                    content: '';
                    display: inline-block;
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-right: $gap-xs;
                    background-image: url(/assets/icons/icon-podcasts-apple.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    transform: translateY(.375rem);
                }
            }

            .link-spotify-podcast {
                &::before {
                    content: '';
                    display: inline-block;
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-right: $gap-xs;
                    background-image: url(/assets/icons/icon-podcasts-spotify.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    transform: translateY(.375rem);
                }

            }
        }

        &__video {
            aspect-ratio: 16 / 9;

            iframe {
                @include object-fit;
            }
        }
    }
}