.home {
	color: $dark-brown;
	background-color: $bg-med;

	&-hero {
		position: relative;
		display: flex;
		align-items: center;
		height: 95vh;
		overflow: hidden;

		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $dark-brown;

			img {
				@include object-fit;
				opacity: .25
			}	
		}

		&-container {
			@include container;
			position: relative;
            display: flex;
            flex-direction: column;
			justify-content: center;
			height: 100%;
			padding-top: $gap-xl;
			z-index: 1;
		}

		&-logo {
			width: 40vw;

			@include break(tablet) {
				width: 70vw;
			}			

			@include break(mobile) {
				width: 100%;
			}

			svg {
				display: block;
				width: 100%;
			}
		}

		&-copy {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			@include toRem('max-width', 750);
			margin-inline: auto;
            
            @include break(mobile) {
				flex-direction: column;
			}		
		}

		&-tagline {
			@extend %h3-style;
			line-height: 1.2;
			text-align: center;
			color: $white;
			padding: $gap-sm $gap;		
		}
		
		&-cta {
			text-align: right;
			padding: 0 $gap;

			@include break(mobile) {
               padding-bottom: $gap;
			}	
		}
	}

	&-difference {
		padding-block: $gap-xl;
		background-color: $bg-med;

		&-head {
			@include container;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			gap: $gap;

			@include break(tablet) {
				flex-direction: column;
				align-items: center;
				gap: $gap-xs;
				text-align: center;
			} 

			h2 {
				@include toRem('max-width', 500);
				color: $orange;

				@include break(tablet) {
					max-width: unset;
				} 
			}

			p {
				@include toRem('max-width', 700);
			}
		}

		&-list {
			@include container;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: $gap-sm;

			@include break(tablet) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include break(mobile) {
				grid-template-columns: 1fr;
			}
		}

		&-item {
			@extend %p-small;
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: $gap-sm;
			border: 2px solid $orange;
			border-radius: $radius-large;
			aspect-ratio: 1 / 1;

			@include break(tablet) {
				aspect-ratio: 3 / 2;
			}

			@include break(tablet) {
				aspect-ratio: 3 / 2;
			}
		}

		&-icon {
			width: $gap;
			
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}

		&-text {
			display: block;
			max-width: 75%;

			* {
				@include font-head;
				@extend %p-large;
				line-height: 1.4;
			}
		}
	}

	&-classes {
		position: relative;
		margin-bottom: $gap-xl;
		background-color: $bg-med;

		&::after {
			@include container();
			position: absolute;
			top: 0;
			left: 50%;
			content: '';
			height: 100%;
			background-color: $bg-light;
			border-radius: $gap-sm;
			transform: translateX(-50%);
		}

		&-head {
			@include container;
			position: relative;
			text-align: center;
			color: $orange;
			padding-block: $gap-md $gap-sm;
			border-radius: 2rem 2rem 0 0;
			z-index: 1;

			@include break(mobile) {
				padding-inline: $gap-sm;
			}

			h2, p {
				@include toRem('max-width', 600);
				margin-inline: auto;
			}

			p {
				color: $dark-brown;
			}
		}

		&-nav {
			display: flex;
			justify-content: center;
			gap: $gap-sm;

			&-prev, 
			&-next {
				@extend %btn;
				@extend %tag;

				svg {
					display: block;
					width: $gap-sm;
					fill: $orange;
					transition: transform .3s ease;
				}

				&:hover {

					svg {
						transform: scale(1.25);
					}
				}
			}

			&-prev {
				position: relative;

				span {
					position: absolute;
					top: 50%;
					left: 0;
					display: inline-block;
				}

				svg {
					margin-left: $gap-xs;
				}
			}
	
			&-next {
				
				svg {
					margin-right: $gap-xs;
				}
			}
		}

		&-carousel {
			padding-inline: $gap-sm;
		}

		&-slide {
			background-color: $white;
			border-radius: $gap-sm;
			
			&-image {
				width: 100%;
				aspect-ratio: 1 / 1;
				background-color: $dark-brown;
				border-radius: $radius-large $radius-large 0 0;
				overflow: hidden;

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			&-text {
				padding: 0 $gap-sm $gap $gap-sm;
			}
		}

		&-cta {
			position: relative;
			display: flex;
			justify-content: center;
			padding-block: $gap-md;
			z-index: 1;
		}
	}

	&-testimonials {
		padding-block: 0 $gap-xl;
		background-color: $bg-med;
		scroll-margin-top: $gap-md;

		&-container {
			@include container;
			display: flex;
			justify-content: space-between;
			gap: $gap-md;

			@include break(tablet) {
				display: block;
			}
		}		

		&-image {
			position: relative;
			flex: 1;
			height: auto;
			background-color: $dark-brown;
			border-radius: $radius-image;
			overflow: hidden;

			&:has(iframe) {
				background-color: transparent;
			}

			@include break(tablet) {
				width: 100%;
				aspect-ratio: 16 / 9;
				margin-bottom: $gap;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				transform: scale(1);
				transition: transform 1.2s ease;
			}
			
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;				
			}
		}

		&-copy {
			flex: 1;

			h2 {
				color: $orange;
			}

			.video-btn {
				padding-bottom: $gap-xs;
			}
		}

		&-cta {
			@include container;
			display: flex;
			justify-content: center;
		}
	}

	&-membership {
		padding-block: $gap-xl;
		background-color: $bg-dark;

		&-head {
			@include container;
			text-align: center;

			h2 {
				color: $orange;
			}

			&-text {
				@include toRem(max-width, 600);
				margin-inline: auto;

				@include break(wide) {
					@include toRem(max-width, 700);
				}
			}
		}

		&-list {
			@include container;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: $gap-sm;

			@include break(tablet) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include break(mobile) {
				grid-template-columns: 1fr;
			}
		}

		&-item {
			position: relative;
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: $gap-xs;
			border-radius: $space;

			&-image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $dark-brown;
				border-radius: $radius-image;
				overflow: hidden;
				z-index: -1;

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					opacity: .25
				}
			}

			&-text {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: stretch;
				gap: $gap-xxxl;
				height: 100%;
				color: $white;
				padding: $gap;
				z-index: 1;

				.price {
					@extend %h3-style;
				}

				.desc {
					@extend %h4-style;
				}
			}

			&-tag {
				text-align: center;
				color: $brown;
			}
		}
	}

	&-philosophy {
		padding-block: $gap-xl;

		&-container {
			@include container;

			h2 {
				color: $orange;
			}
		}

		&-list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: $gap-sm;

			@include break(mobile) {
				grid-template-columns: 1fr;
			}
		}

		&-intro {
			padding-right: $gap-sm;

			@include break(mobile) {
				padding-right: 0;
			}
		}

		&-item {
			padding: $gap;
			border: 2px solid $orange;
			border-radius: $radius-large;
		}
	}

	&-meet {
		position: relative;
		height: 100vh;
		color: $white;
		padding-block: $gap $gap-xxl;
		background-color: $dark-brown;

		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				opacity: .25
			}
		}

		&-container {
			@include container;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: stretch;
			gap: $gap-xl;
			height: 100%;
			z-index: 1;

			h2 {
				font-size: 20vw;
				line-height: 1;

				@include break(wide) {
					font-size: 15vw;
				}
			}
		}

		&-text {
			@include toRem('max-width', 500);
		}

		&-signature {
			@include toRem('max-width', 300);
		}
	}

	&-faq {
		padding-top: $gap-xl;
		border-top: 1px solid $orange;

		h2 {
			color: $orange;
		}

		&-container {
			@include container;
		}

		&-item {
			margin-left: $gap;
			padding-bottom: $gap;
			border-bottom: 2px solid $orange;
		}

		&-toggle {
			@include button-reset;
			position: relative;
			text-align: left;
			color: $dark-brown;

			&[aria-expanded="true"] {

				&::before {
					content: '-';
				}
			}

			&::before {
				position: absolute;
				top: 50%;
				left: -$gap;
				content: '+';
				font-size: $gap;
				transform: translateY(-50%);
			}
		}
	}
}