.podcasts {
    color: $dark-brown;
	background-color: $bg-med;

	audio {
		//width: 100%;
		//max-width: 100%;
	}

	&-banner {
		position: relative;
		display: flex;
		align-items: center;
		height: 85vh;
		overflow: hidden;

		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $dark-brown;

			img {
				@include object-fit;
				opacity: .25;
			}	
		}

		&-container {
			@include container;
			position: relative;
            display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			text-align: center;
			color: $white;
			padding-top: $gap-xl;
			z-index: 1;

			@include break(tablet) {
				justify-content: flex-end;
				padding-bottom: $gap-xl;
			}

			h1, p {
				@include toRem('max-width', 700);
			}

			h1 {
				font-weight: 400;
				letter-spacing: .03em;
			}
		}

        &-text,
        &-text p {
            @extend %h4-style;

            a {
                color: $white;
                border-bottom: 2px solid $white;
                transition: border .3s ease;

                &:hover {
                    text-decoration: none;
                    border-bottom: 2px solid transparent;
                }
            }
        }
	}

    &-latest {
		@include container(50rem);
		padding-block: $gap-xl;

		@include break(mobile) {
			padding-block: $gap-md;
		}

		h2 {
			@include toRem('font-size', 32);
		}

		&-toggle-btn {
			@include button-reset;
			color: $accent;

			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}

		&-copy {
			display: none;
			margin-top: $gap;

			&.show {
				display: block;
			}

			h3, h3 strong,
			p strong {
				@include font-body;
				@include toRem('font-size', 22);
			}

			p > br {
				display: none;
			}
			
			p:last-child,
			p:nth-last-child(2) {
				display: none;
			}
		}
	}

	&-list {
		padding-block: $gap-xl;
		background-color: $bg-light;

		@include break(mobile) {
			padding-block: $gap-md;
		}

		&-inner {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: $gap;

			@include break(tablet) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include break(mobile) {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}

	&-head,
	&-button {
		display: flex;
		justify-content: center;
	}

	&-item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: $gap-sm;
		padding: $gap-sm;
		border: 2px solid $orange;
		border-radius: $radius-large;

		@include break(mobile) {
			padding: $gap-sm;
		}

		h3 {
			@include font-body;
			@include toRem('font-size', 20);
		}	
	}

	.custom-controls {
		display: flex;
		align-items: center;
		gap: $gap-xs;
		padding: $gap-xs;
		border: 1px solid $coffee;
		border-radius: $gap-xs;
		
		.control-button {
			@include button-reset;
			display: block;

			span, svg {
				pointer-events: none;
			}
			
			svg {
				width: $gap-sm;
			}

			.paused {
				display: none;

				&.show {
					display: block;
				}
			}

			.playing {
				display: none;

				&.show {
					display: block;
				}
			}
		}
		
		.control {
			flex: 0 0 $gap-sm;
		}

		.volume,
		.progress,
		.progress-text {
			display: flex;
			align-items: center;
		}
		
		.progress {
			flex: 2;
			gap: $gap-xs;

			&-current {
				margin-right: $sliver;
			}

			&-duration {
				margin-left: $sliver;
			}
		}
		
		.volume {
			flex: 1;
			gap: $gap-xs;
		}

		input[type=range] {
			appearance: none; 
			width: 100%; 
			background: transparent; 

			&::-webkit-slider-runnable-track {
				appearance: none;
				height: $gap-sm;
				border-radius: 0.75rem;
				background: $bone;		
			}

			&::-moz-range-track {
				appearance: none;
				height: $gap-sm;
				border-radius: 0.75rem;
				background: $bone;		
			}

			&::-moz-range-progress {
				background: #1e3650;
				height: $gap-sm;
				border-radius: 0.75rem 0 0 0.75rem;
			}

			&::-ms-track {
				appearance: none;
				height: $gap-sm;
				border-radius: 0.75rem;
				background: $bone;
				color: transparent;
				border: 0;
			}

			&::-ms-fill-lower {
				background: #1e3650;
				border-radius: 0.75rem 0 0 0.75rem;
			}

			&::-webkit-slider-thumb {
				appearance: none;
				height: $gap-sm;
				width: $gap-sm;
				border-radius: .75rem;
				background: #3D2F17;
				cursor: pointer;
				margin-top: 0;
			}

			&::-moz-range-thumb {
				appearance: none;
				height: $gap-sm;
				width: $gap-sm;
				border-radius: 0.75rem;
				background: #3D2F17;
				cursor: pointer;
				margin-top: -14px; 
			}

			&::-ms-thumb {
				height: $gap-sm;
				width: $gap-sm;
				border-radius: 0.75rem;
				background: #3D2F17;
				cursor: pointer;
				margin-top: -14px;
			}
		}
	}
}