.testimonials {

    &-head {
        @include container($narrow);
        text-align: center;

        h1 {
            margin: 0;
        }
    }

    &-intro {
        margin-top: $gap-md;
    }

    &-container {
        @include container();
    }

    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $gap-md;
        margin-top: $gap-md;
        padding-top: $gap-md;
        border-top: 2px solid $accent;

        @include break(tablet) {
            flex-direction: column;
            align-items: stretch;
        }

        &:nth-child(even) {
            .testimonials-video {
                order: 2;

                @include break(tablet) {
                    order: 1;
                }
            }

            .testimonials-desc {
                order: 1;

                @include break(tablet) {
                    order: 2;
                }
            }
        }
    }

    &-video {
        flex: 1;
        aspect-ratio: 16 / 9;

        iframe {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &-desc {
        flex: 1;
    }
}