
%btn {
	@include button-reset;
	display: block;
	width: fit-content;

	&:hover {
		text-decoration: none;
	}
}


%btn-underline {
	@extend %btn;
	@include font-bold;
	@include toRem('font-size', 17);
	position: relative;
	background-color: transparent;

	&::after {
		position: absolute;
		bottom: $sliver;
		left: 0;
		content: '';
		width: 100%;
		height: 2px;
		transition: transform .3s ease;
	}

	&:hover {
		background-color: transparent;

		&::after {
			transform: scaleY(2);
		}
	}
}

.btn-underline-white {
	@extend %btn-underline;
	color: $white;

	&::after {
		background-color: $white;
	}
}

.btn-underline-orange {
	@extend %btn-underline;
	color: $dark-brown;

	&:focus-visible {
		outline: 1px solid $orange;
		outline-offset: 2px;
	}

	&::after {
		background-color: $orange;
	}
}

%btn-cta {
	@extend %btn;
	@include font-bold;
	@include toRem('font-size', 18);
	text-transform: uppercase;
	padding: $gap-xs $gap-md;
	border: 2px solid;
	border-radius: $radius;

	&:focus-visible {
		outline-offset: 4px;
	}
}

.btn-cta-orange {
	@extend %btn-cta;
	color: $orange;
	background-color: transparent;
	border-color: $orange;
	transition: color .3s ease, background-color .3s ease;

	&:focus-visible {
		outline: 2px solid $dark-brown;
	}

	&:hover {
		color: $white;
		background-color: $orange;
	}
}

.btn-cta-white {
	@extend %btn-cta;
	color: $white;
	background-color: transparent;
	border-color: $white;
	transition: color .3s ease, background-color .3s ease;

	&:focus-visible {
		outline: 2px solid $orange;
	}

	&:hover {
		color: $orange;
		background-color: $white;
	}
}