%btn {
	@include button-reset;
	display: inline-block;
	@include font-medium;
	@include toRem('font-size', 16);
	color: $white;
	background-color: $accent;
	border: 2px solid $accent;
	border-radius: $radius;
	transition: color .6s ease, background-color .6s ease;

	&:hover {
		color: $accent;
		background-color: transparent;
	}
}

.btn {
	@extend %btn;
	height: 44px;
	line-height: 40px;
	padding: 0 $gap;
}

.btn-secondary {
	@extend %btn;
	height: 44px;
	line-height: 40px;
	color: $accent;
	padding: 0 $gap;
	background-color: $white;

	&:hover {
		color: $white;
		background-color: $accent;
	}
}

.btn-secondary-black {
	@extend %btn;
	height: 44px;
	line-height: 40px;
	color: $black;
	padding: 0 $gap;
	background-color: $white;
	border-color: $black;

	&:hover {
		color: $white;
		background-color: $black;
	}
}

.btn-sm {
	@extend %btn;
	height: 34px;
	line-height: 30px;
	padding: 0 $gap-sm;
}

.btn-wide-mobile {
	@include break(mobile) {
		display: block;
		width: 100%;
		text-align: center;
	}
}