.container {
	@include container;
}

.container-narrow {
	@include container($narrow);
}

.container-bg {
	color: $white;
	padding: $gap;
	background-color: $accent;
	border-radius: $radius-large;

	@include break(tablet) {
		padding: $gap-sm;
	}
}