.footer {
	padding-block: 10rem 2rem;
	background-color: $bg-med;

	@include break(tablet) {
		padding-block: 6rem 2rem;
	}

	@include break(mobile) {
		padding-block: 4rem 2rem;
	}	

	&-inner {
		@include container;
	}

	&-logo {
		display: block;
		width: 100%;

		img {
			display: block;
			width: 100%;
		}
	}

	&-middle {
		display: flex;
		justify-content: space-between;
		gap: $gap-md;

		@include break(tablet) {
			flex-direction: column;
		}
	}

	&-desc {
		@include toRem('max-width', 500);

		* {
			@include toRem('font-size', 16);
		}
	}

	&-nav {
		display: flex;
		justify-content: flex-end;
		gap: $gap-lg;

		@include break(tablet) {
			justify-content: space-between;
		}

		@include break(mobile) {
			flex-direction: column;
			gap: $gap-md;
		}

		&-column {
			display: flex;
			flex-direction: column;
			gap: $gap-xs;
			padding: 0;

			@include break(tablet) {
				gap: $gap-xs;
			}

			h2 {
				@include font-body;
				@include toRem('font-size', 16);
				text-transform: uppercase;
				color: $coffee;
			}

			ul {
				display: flex;
				flex-direction: column;
				gap: $gap-xs;
				padding: 0;				
			}
		}

		&-item {
			display: inline-block;
			list-style: none;

			@include break(tablet) {
				flex: 0 0 calc(33% - #{$gap-sm});
			}

			@include break(tablet) {
				flex: 0 0 calc(50% - #{$gap-sm});
			}
		}

		&-link {
			color: $coffee;

			&.external {

				&::after {
					content: '';
					display: inline-block;
					width: $gap-sm;
					height: $gap-sm;
					margin-left: $sliver;
					background-image: url('data:image/svg+xml,<svg width="800" height="800" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M19 14v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h5v2H5v12h12v-5h2Zm-.003-7.586-7.293 7.293-1.414-1.414L17.583 5h-4.586V3h8v8h-2V6.414Z" fill="%233D2F17"/></svg>');
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					transform: translateY(2px);
				}
			}

			&.active {
				text-decoration: underline;

				&:hover {
					cursor: default;
				}
			}
		}
	}

	&-copyright {
		color: $coffee;

		a {
			color: $coffee;
			text-decoration: underline;

			&:hover {
				color: $brick;
			}
		}
	}
}