label {
    display: block;
	@include font-medium;
	@include toRem('font-size', 14);
	line-height: 1.2;
	text-align: left;
    text-transform: uppercase;
}

input[type="text"],
input[type="email"] {
	height: 44px;
	line-height: 40px;
	color: $black;
	padding: $space $gap-xs;
	background-color: $white;
	border: 1px solid $gray;
    border-radius: $radius;
	appearance: none;
}

textarea {
	color: $black;
	padding: $space $gap-xs;
	background-color: $white;
	border: 1px solid $gray;
    border-radius: $radius;
	appearance: none;
}