.header {
	width: 100%;
	padding: $gap-sm 0 $gap-lg 0;
	z-index: 999;	

	&-home {
		position: absolute;
		top: 0;
		left: 0;

		.header-container {
			justify-content: flex-end;
		}
	}

	&-container {
		@include container($medium);
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: $gap;
	}

	&-logo {
		position: relative;
		display: block;
		height: $gap-md;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&-nav {
		@include break(tablet) {
			display: none;
		}
	}

	&-mobile {
		display: none;
		
		@include break(tablet) {
			display: block;
			z-index: 999;
		}
	}
}