$_nav-panel-width: 14rem;

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $gap;
    list-style: none;

    &-items {
        display: flex;
        justify-content: flex-end;
        gap: $gap-md;
    }

    &-item {
		position: relative;
        list-style: none;

		a {
			&:hover {
				text-decoration: none;
			}
		}
	}

    &-link {
		position: relative;
		display: block;
		@include font-semibold;
		@include toRem('font-size', 14);
		line-height: 1.8;
		text-transform: uppercase;
		color: $black;
		text-decoration-color: transparent;
		overflow: hidden;

		&::after {
			position: absolute;
			bottom: 0;
			left: -100%;
			content: '';
			width: 100%;
			height: 2px;
			background-color: $accent;
			transition: left .3s ease;
		}

		&:hover,
		&.nav-active,
		&[aria-expanded="true"] {
			
			&::after {
				left: 0;
			}
		}

		&:focus-visible {
			outline: 1px solid $accent;
			outline-offset: 2px;
		}

		&.active {
			@include font-medium;
			color: $accent;
			cursor: default;

			&::after {
				display: none;
			}
		}

		&[aria-expanded="true"] {
			+ .nav-panel {
				box-shadow: 4px 4px 4px 0px rgba($black, .25);
			}
		}
    }

	&-button {
		@include button-reset;
	}

	&-panel {
		position: absolute;
		top: $gap;
		left: 0;
		width: $_nav-panel-width;
		margin: 0;
		padding: 3px;
		background-color: $white;

		.nav-link {
			display: inline-block;
			@include font-reg;
			@include toRem('font-size', 15);
			text-transform: none;
			margin-left: $space;
		}
	}
}

.header-home {
	.nav {
		&-panel {
			background-color: transparent;
		}
	}
}