{% extends "_layout" %}
{% block content %}
<main class="podcasts">
  <section class="podcasts-banner">
    <div class="podcasts-banner-container stack-md">
      <h1>{{ entry.podcastBannerTitle }}</h1>
      {% if entry.podcastBannerText %}
       <div class="podcasts-banner-text">{{ entry.podcastBannerText }}</div>
      {% endif %}
    </div>
    <div class="podcasts-banner-bg">
      {% if entry.podcastBannerImage %}
        {% set fullWidthImage = entry.podcastBannerImage.one() %}
        {% if fullWidthImage %}
            {% include '_partials/full-width-image' %}
        {% endif %}
      {% endif %}
    </div>
  </section>
  <section class="podcasts-latest stack-sm">
    {% set episodes = craft.captivateApi.getEpisodes(1, 0) %}
    {% for episode in episodes %}
        <div class="podcasts-latest-head stack-xs">
            <p class="tag">Latest</p>
            <h2 class="h3-style">{{ episode.title }}</h2>
            <p class="p-small">{{ episode.published_date | date('F j, Y') }}</p>
        </div>
        {% if episode.media_url %}
            {% include '_partials/audio-player' %}
        {% endif %}
        {% if episode.shownotes %}
            <button type="button" aria-expanded="false" class="podcasts-latest-toggle-btn p-style" aria-controls="more-copy" id="more-toggle">
                Show More About This Episode
            </button>
            <div class="podcasts-latest-copy stack-sm" id="more-copy" role="region" aria-labelledby="more-toggle">
                <p>{{ episode.shownotes | raw}}</p>
            </div>
        {% endif %}
    {% else %}
        <p>No episodes found.</p>
    {% endfor %}
  </section>
  <section class="podcasts-list stack-md">
    <div class="podcasts-head container-medium">
        <h2 class="h3-style">More Podcasts</h2>
    </div>
    <div id="episode-container" class="podcasts-list-inner container-medium">
        {% set episodes = craft.captivateApi.getEpisodes(6, 1) %}
        {% for episode in episodes %}
            {% if episode.title %}
            <div class="podcasts-item">
                <div class="stack-xs">
                    <h3>{{ episode.title }}</h3>
                    <p class="p-small">{{ episode.created_at | date('F j, Y') }}</p>
                </div>
                {% if episode.media_url %}
                    {% include '_partials/audio-player' %}
                {% endif %}
            </div>
            {% endif %}
        {% else %}
            <p>No episodes found.</p>
        {% endfor %}
    </div>
    <div class="podcasts-button">
        <button id="load-more-btn" class="btn-cta-orange" data-offset="7">Load More</button>
    </div>
  </section>
</main>
{% endblock %}
